@font-face {
    font-family: 'SourceCodePro';
    src: url('/static/ewald/fonts/SourceCodePro-Regular.ttf')
}

.console-widget {
    margin: 30px 30px;
    padding: 30px 30px;
    min-width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    min-height: 400px;
    background: #1A1A1A;
    color: #1AFF1A;
    font-family: 'SourceCodePro';
    font-size: 13pt;
    line-height: 130%;
    border: solid 5px lightgray;
}
