{% extends 'ewald/withbar.html' %}
{% load static %}

{% block withbar_head %}
    <title>Ewald - home</title>
    <link rel="stylesheet" href="{% static "/ewald/css/home.css" %}"/>
    <link rel="stylesheet" href="{% static "/ewald/plot/plot.css" %}"/>
    <script src="{% static "/ewald/d3/js/d3-4.5.0.js" %}"></script>
    <script src="{% static "/ewald/plot/plot.js" %}"></script>
{% endblock %}

{% block withbar_body %}
<div id="intensity"></div>
<script>
    let x = {{ xData }};
    let y = {{ yData }};
    plot.xyLine('#intensity',
    x, y, {
        width: 800,
        stroke:"red"
    });
</script>
{% endblock %}
