{% extends 'ewald/base.html' %}
{% block base_head %}
    {% block logged_head %}
    {% endblock %}
{% endblock %}
{% block base_body %}
<nav class="w3-sidenav w3-teal w3-card-2 w3-animate-left"
        style="display:none" id="sidenav">
    <a href="javascript:void(0)" onclick="closeNav()"
            class="w3-closenav w3-large w3-xxlarge">
        &times;
    </a>
    <a href="#">Profile</a>
    <a href="/samples/">Samples</a>
    <a href="/terminal/">Terminal</a>
    <a href="/logout/">Logout</a>
</nav>
<script>
    function openNav() {
        $('#main-content').css('margin-left', '300px');
        $('#sidenav').css('width','300px');
        $('#sidenav').css('display', 'block');
        $('#openNav').css('display', 'none');
    }
    function closeNav() {
        $('#main-content').css('margin-left', '0%');
        $('#sidenav').css('display', 'none');
        $('#openNav').css('display', 'inline-block');
    }
</script>
<div id="main-content">
    <header class="w3-container w3-teal">
        <span class="w3-opennav w3-xlarge" onclick="openNav()" id="openNav"
                style="display:inline-block">&#9776;</span>
        <h3 style="display:inline-block"> Ewald </h3>
    </header>
    {% block logged_body %}
    {% endblock %}
</div>
{% endblock %}
