{% extends 'ewald/base.html' %}
{% block base_body %}
<div class="w3-display-container" style="width:100%;height:100%;">
    <div class="w3-display-middle w3-card w3-white">
        <div class="w3-container w3-teal">
            <p>Ewald</p>
        </div>
        <form id="login-form" class="w3-container w3-padding-large">
             {% csrf_token %}
            <input name="uname" class="w3-input" type="text" style="min-width:250px">
            <label class="w3-label">User name</label>
            <input name="psw" class="w3-input" type="password" style="min-width:250px">
            <label class="w3-label">Password</label><br>
            <button class="w3-btn w3-teal" style="margin-top:16px;">Login</button>
        </form>
    </div>
</div>
<script>
    $(document).on('submit', '#login-form', function(event) {
        event.preventDefault(); // dont reload the page
        $.ajax({
            type: 'POST',
            url: '/login/',
            data: {
                "username": $("input[name=uname]").val(),
                "password": $("input[name=psw]").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                window.location.href = "/home/";
            },
            error: function() {
                // TODO: improve
                alert('Login failed');
            }
        });
    });
</script>
{% endblock %}
