{% extends 'ewald/logged.html' %}
{% load static %}
{% block logged_head %}
    <script src="{% static "/ewald/d3/js/d3-4.5.0.js"%}"></script>
    <script src="{% static "/ewald/plot/plot.js"%}"></script>
{% endblock %}
{% block logged_body %}
    {% for sample in samples %}
        <div id="powder-chart-{{ forloop.counter0 }}"
                class="w3-panel w3-card-2 powder-chart"
                style="display:inline-block; margin:30px 30px;"></div><br>
    {% endfor %}
    <script>
    let powderData = [
        {% for sample in samples %}
            [
                {{ sample.x }},
                {{ sample.y }}
            ],
        {% endfor %}
    ];
    for (let i=0; i<powderData.length; ++i) {
        plot.line({
            htmlElement: '#powder-chart-' + i.toString(),
            data: { x: powderData[i][0], y: powderData[i][1] },
            width: 600,
            height: 250,
            stroke: "red"
        });
    }
    </script>
{% endblock %}
