{% extends 'ewald/logged.html' %}
{% load static %}
{% block logged_head %}
    <script src="{% static "/ewald/d3/js/d3-4.5.0.js"%}"></script>
    <script src="{% static "/ewald/plot/plot.js"%}"></script>
{% endblock %}
{% block logged_body %}
    {% for sample in samples %}
        <div id="powder-chart-{{ forloop.counter0 }}"
                class="w3-panel w3-card-2 powder-chart"
                style="display:inline-block; margin:30px 30px;"></div>
        <br>
        <script>
            let x{{ forloop.counter0 }} = {{ sample.x }};
            let y{{ forloop.counter0 }} = {{ sample.y }};
            plot.xyLine('#powder-chart-{{ forloop.counter0 }}',
                x{{ forloop.counter0 }},
                y{{ forloop.counter0 }}, {
                    width: 600,
                    height: 250,
                    stroke: "red"
            });
        </script>
    {% endfor %}
{% endblock %}
