{% extends 'ewald/base.html' %}
{% load static %}

{% block userhead %}
    <title>Ewald - signup</title>
    <link rel="stylesheet" href="{% static "ewald/css/signup.css" %}"/>
{% endblock %}

{% block usercontent %}
<div id="outer">
    <div id="middle">
        <div id="inner">
        <div id="login-header">
            <h1>Ewald</h1>
            <h2>Create new user</h2>
        </div>
        <form id="login-form" action="login">
            <input type="text" name="firstname" class="lineinput"
                placeholder="First name"></input>
            <input type="text" name="lastname" class="lineinput"
                placeholder="Last name"></input><br>
            <input type="password" name="passwd" class="lineinput"
                placeholder="Password"></input>
            <input type="password" name="confirmpasswd" class="lineinput"
                placeholder="Confirm password"></input><br>
            <input type="submit" value="Signup">
        </form>
        </div>
    </div>
</div>
{% endblock %}

