{% extends 'ewald/logged.html' %}
{% load static %}
{% block logged_head %}
    <script src="{% static "/ewald/terminal/terminal.js"%}"></script>
{% endblock %}
{% block logged_body %}
    <textarea class="terminal-widget" autofocus="true"></textarea>
    {% csrf_token %}
    <script>
        let myTerminal = new terminal.Terminal({
            textArea: $('.terminal-widget')[0],
            prompt: '{{ viewinfo.username }}@ewald: ',
            style: {
                fontFamily: 'SourceCodePro',
                minWidth: 'calc(100% - 60px)',
                maxWidth: 'calc(100% - 60px)',
            },
            serverTokens: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }
        });
    </script>
{% endblock %}
